.zigazisan {
    font-size: 50em;
    font-weight: bold;
    color: black;
    margin-top: 0.5em;
}

.self-criticism {
    font-size: 1em;
    color: black;
    margin-top: 0.2em; 
}

.URL {
    color: rgb(0, 0, 0);
}
